# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow requires that you have an existing account with codescan.io
# For more information about configuring your workflow,
# read our documentation at https://github.com/codescan-io/codescan-scanner-action
name: CodeScan

env:
  SONAR_SCANNER_VERSION: 5.0.1.3006
  ACTIONS_STEP_DEBUG: true
  ACTIONS_RUNNER_DEBUG: true

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]

permissions:
  contents: read

jobs:
    CodeScan:
        environment: preview
        permissions:
          contents: read # for actions/checkout to fetch code
        runs-on: ubuntu-latest
        timeout-minutes: 30
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
            -   name: Cache files
                uses: actions/cache@v4
                with:
                    path: |
                        ~/.sonar
                    key: ${{ runner.os }}-sonar
                    restore-keys: ${{ runner.os }}-sonar
            -   name: Run Analysis
                uses: codescan-io/codescan-scanner-action@2.0
                with:
                    scanChangedFilesOnly: false
                    generateSarifFile: false
                    failOnRedQualityGate: false
                    generateReportFile: false
                    login: ${{ secrets.CODESCAN_AUTH_TOKEN }}
                    organization: ${{ secrets.CODESCAN_ORGANIZATION_KEY }}
                    projectKey: ${{ secrets.CODESCAN_PROJECT_KEY }}
                    codeScanUrl: https://preview.codescan.io/
                    args: |
                      sonar.host.url=https://preview.codescan.io/
                      sonar.branch.name=main
                      sonar.sources=.
                      sonar.exclusions=target/**,**/*.java
                      sonar.analysisCache.enabled=false
                      codescan.suppressUnitTestViolations=false
                      codescan.comparison.branches=false
                      sonar.verbose=true
                      sonar.scm.provider=git
                      sonar.scm.disabled=false
