# read our documentation at https://github.com/codescan-io/codescan-scanner-action
name: CodeScan
env:
  SONAR_SCANNER_VERSION: 5.0.1.3006
  ACTIONS_STEP_DEBUG: true
  ACTIONS_RUNNER_DEBUG: true

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]

permissions:
  contents: read

jobs:
    CodeScan:
        permissions:
          contents: read # for actions/checkout to fetch code
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0  # full history needed for PR diffs
            -   name: Cache files
                uses: actions/cache@v3
                with:
                    path: |
                        ~/.sonar
                    key: ${{ runner.os }}-sonar
                    restore-keys: ${{ runner.os }}-sonar
            -   name: Run Analysis
                uses: codescan-io/codescan-scanner-action@2.0
                 with:
                    scanChangedFilesOnly: true
                    organization: ${{ secrets.CODESCAN_ORGANIZATION_KEY }}
                    projectKey: ${{ secrets.CODESCAN_PROJECT_KEY }}
                    codeScanUrl: https://preview.codescan.io
                    login: ${{ secrets.CODESCAN_AUTH_TOKEN }}
                    generateSarifFile: false
                    args: |
                        sonar.branch.name=${{ github.ref_name }}
                        sonar.exclusions=target/**,src/test/java/**
